.App {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin: 0 auto;
  max-width: 980px;
}

.products-list {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 980px;
}

.product-card {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-img-wrapper {
  padding: 10px;
  height: 150px;
}

.product-img {
  width: 100%;
  height: 100%;
}
